
@{
    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Administrar Categorias</h1>

<section class="lista">
    <ul>
        <li><a href="~/Admin/Categorias/Agregar"><img src="~/images/add.png" /> Nueva categoria</a></li>
    
        <li>
            C&#xED;tricos
            <a href="editarcategoria.html" class="btnEditar"></a>
            <a href="eliminar.html" class="btnBorrar"></a>
        </li>
    </ul>

</section>

