@model FruitStore.Models.Entities.Productos
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_LayoutAdmin";
}

<form method="post" action="~/Admin/Productos/Eliminar">
    <div>
        <h1>Eliminar Producto</h1>

        <input type="hidden" asp-for="Id"/>

        <p>¿Está seguro de eliminar el producto "@Model.Nombre"?</p>

        <div class="botones">
            <p id="error">@Html.ValidationSummary(true)</p>

            <input type="submit" value="Si" id="btnSi" />
            <a href="~/Admin/Productos">
                <input type="button" value="No" id="btnNo" />
            </a>
        </div>
    </div>
</form>

