@model FruitStore.Areas.Admin.Models.AdminProductosViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Administrar Productos</h1>


<section class="lista">
    <form asp-action="Index" asp-controller="Productos" asp-area="Admin" >
        <select asp-for="IdCategoriaSeleccionada" asp-items="@(new SelectList(Model.Categorias, "Id", "Nombre"))" onchange="this.form.submit()">
            <option>---Mostrar todos los productos---</option>
        </select>
    </form>
    <ul>
        <li><a href="~/Admin/Productos/Agregar"><img src="~/images/add.png" />Nuevo producto</a></li>
        @foreach (var producto in Model.Productos)
        {
            <li>
                @(Model.IdCategoriaSeleccionada != 0 ? $"{producto.Nombre} - {producto.Categoria}" : producto.Nombre)
                <a href="~/Admin/Productos/Editar/@(producto.Nombre)" class="btnEditar"></a>
                <a href="~/Admin/Productos/Eliminar/@(producto.Nombre)" class="btnBorrar"></a>
            </li>
        }
    </ul>
</section>


