@model FruitStore.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FruitStore - La mejor fruteria de la Web</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>

        <form method="post" action="~/Home/Login">
            <div>
                <h1>Iniciar Sesion</h1>

                <label>Correo:</label>
                <input type="email" required asp-for="Correo" />

                <label>Contraseña:</label>
                <input type="password" required asp-for="Contraseña" />

                <div class="botones">
                    <p id="error">@Html.ValidationSummary(true)</p>
                    <input type="submit" value="Cancelar" id="btnAgregar" />
                </div>
            </div>
        </form>

    </main>
</body>
</html>